 <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{%url 'imageshow'%}">
                <i class="fas fa-film mr-2"></i>
                ImageBazaar Clone
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            {%if request.user.is_authenticated%}
            <h5 style="margin-bottom:10px;margin:15px 5px;font-size:5empx;color:blue;cursor:pointer;">Welcome:{{user}}</h5>
               {% endif %}
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" href="{% url 'imageshow' %}">Photos</a>
                </li>
                {%if user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="{% url 'add' %}">Add Image</a>
                </li>
                {% endif %}
                {%if not request.user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="{% url 'logout' %}">Logout</a>
                </li>
                {% endif %}
                {%if not request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link nav-link-4 active" aria-current="page" href="{% url 'signup' %}">SignUp</a>
                </li>
                {%endif%}
            </ul>
            </div>
        </div>
    </nav>
